h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;

    @media (min-width: 590px) {
        font-size: 2.5rem;
    }
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -1px;

    @media (min-width: 590px) {
        font-size: 2.25rem;
    }

    &#display-name {
        display: flex;
        flex-direction: column;
        align-items: center;

        .display-name {
            font-family: 'Array', sans-serif;
            font-size: 2.5rem;
            letter-spacing: 1px;
            margin-top: 0.8rem;
            text-align: center;

            @media (min-width: 590px) {
                font-size: 4rem;
                margin-top: 1.5rem;
            }
        }
    }
}



h3 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
}

h4 {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.45;
}

p {
    font-size: 0.9rem;
    font-weight: 400;
}